$color-main-title:#3C4043;
$color-border:#DADCE0;

//dateEdit - fecha de edicion
$color-dateEdit:#757575;
$font-size-dateEdit: 12px;

//card-title sugerida
$font-size-cardTitle:13px;
$color-cardTitle:#474747;

//menu-color-option
$color-menu-optionName:#5F6368;

//input search main

$color-bg-search:#F1F3F4;