.header-container{
    height: 4rem;
    padding: 8px;
    display: flex;
    border-bottom: 1px solid #DADCE0;
}
.header-app{
    min-width: 238px;
    padding-right: 30px;
    padding-left: 12px;
    display: flex;
    justify-content: flex-start;
}
.content-logo{
    display: flex;
    align-items: center;
}
.content-logo span{
    font-size: 1.5rem;
    padding: 0 .3rem;
}
.logo{
    height: 40px;
    width: 40px;
}
//
.header-search{
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 30px;
}
.search-form{
    background-color: $color-bg-search;
    border-radius: .5rem;
    height: 46px;
    width: 722px;
    overflow-y: hidden;
    transition:  background-color .2s ,height .2s, overflow-y .2s;
}
.search-form form{
    padding: 0 5px;
}
.input-main{
    margin: 11px 0;
    height: 24px;
    width: 568px;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    margin-right: 3rem;
}
.input-main:focus{
    outline: none;
}
.search-option{
    display: flex;
    align-items: center;  
}
//
.icon-container{
    position: relative;
}
.icon{
    padding: 8px;
    margin: 2px;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
}
.icon img{
    width: 24px;
    height: 24px;
}

.tooltip{
    visibility: hidden;
    position: absolute;
    background-color: #636363;
    color: white;
    text-align: center;
    font-size: 13px;
    border-radius: 7px;
    padding: .3rem .4rem;
    box-shadow: 0 0 4px #636363;
    min-width: 90px;
    max-width: 200px;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility .3s, top .5s;
    transition-delay: .5s;
}
.tooltip::after{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #636363;
    box-shadow: 0 0 4px #636363;
    top: -5px; 
    left: 50%;
    transform: translatex(-50%) rotate(45deg);
}
.icon:hover{
    background-color: #E2E5E6;
}
.icon-container:hover .tooltip{
    visibility: visible;
    top: 110%;
}


//
.header-user{
    min-width: 238px;
    padding-left: 30px;
    padding-right: 12px;
    display: flex;
    justify-content: flex-end;
}
.user-info{
    padding: .5rem .7rem;
    margin-left: .5rem;
    border-radius: .5rem;
    gap: .8rem;
    border: 1px solid #DADCE0;
}
.img-perfil{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

// search options 
.search-options{
    padding: 0 5px;
    opacity: 0;
    visibility: hidden;
}
.search-form:hover .search-options{
    opacity: 1;
    visibility: visible;
}
.so-fila{
    display: flex;
    padding: 0px 5px;
}
.search-options-item{
    padding: 10px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 77px;
    width: 100px;
}
.search-options-item p{
    font-size: 11px;
    padding: 10px 0px;
}
.so-options-imgcontainer{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid hsl(0,0,85);
    display: flex;
    justify-content: center;
    align-items: center;
}
.so-fila{
    border-bottom: 1px solid transparent;
}
.so-fila:first-child{
    border-top: 1px solid transparent;
}
.search-form:hover{
    height: 252.8px;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 1px 6px hsl(0,0,70);
    overflow-y: initial;
}
.search-form:hover .so-fila{
    border-bottom: 1px solid $color-border;
}
.search-form:hover .so-fila:first-child{
    border-top: 1px solid $color-border;
}
.search-options-item:hover{
    background-color: $color-bg-search;
}
.search-options-item:hover .so-options-imgcontainer{
    background-color: white;
}
.advanced-item{
    margin: 8px 4px;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    color: hsl(210,100,45);
    font-weight: 500;
}
.advanced-item:hover{
    background-color: $color-bg-search;
}